body {
    margin: 0;
    padding: 0;
    background: #1A181A;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.nav-bar a:hover {
    transition-duration: 0.3;
    color: #F9F871;
}

@keyframes title-hover-yellow {
    0% {
        color: white;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    100% {
        color: #F9F871;
        text-decoration: underline;
        text-decoration-color: #F9F871;
    }
}

.title-container {
    display: flex;
    align-items: center;
    width: 25%;
    height: 500px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 50px;
}

.title-container span {
    animation: title-hover-yellow 2.8s 0s;
    color: #F9F871;
    text-decoration: underline;
    text-decoration-color: #F9F871;
}

@keyframes innovation-image-hover {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 10px;
    }

    100% {
        margin-top: 0px;
    }
}

.innovation-container {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    background-color: #F9F871;
}

.innovation-start-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 50px;
}

.innovation-start-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.innovation-start-transition .shape-fill {
    fill: #F9F871;
}

.innovation-image {
    display: flex;
    justify-content: center;
    width: 45%;
    animation: innovation-image-hover infinite 1s ease-in-out 2s;
}

.innovation-content {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;
    padding-top: 70px;
    width: 50%;
    color: #1b1b1b;
}

.innovation-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.innovation-explanation {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.innovation-end-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 1102px;
}

.innovation-end-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.innovation-end-transition .shape-fill {
    fill: #F9F871;
}

.connections-container {
    display: flex;
    width: 100%;
    height: 500px;
}

.connections-content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 10px;
    width: 50%;
    height: 500px;
}

.connections-title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.connections-explanation {
    display: flex;
    flex: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.animated-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 500px;
}

.community-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F9F871;
}

.community-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #1b1b1b;
}

.community-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.community-explanation {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.community-image {
    display: flex;
    justify-content: center;
    width: 100%;
}