body {
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}


.nav-bar {
    display: flex;
    flex: right;
    justify-content: right;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.nav-bar a {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.nav-bar a:hover {
    transition-duration: 0.3s;
    color: #F9F871;
}

.title {
    display: flex;
    flex: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
}

.title span {
    transition-duration: 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.title span:hover {
    color: #F9F871;
    text-decoration-color: #F9F871;
}

.title-transition {
    display: flex;
    width: 100%;
}

.connections-explanation {
    background-color: #F9F871;
    width: 50%;
}

.connections-title {
    display: flex;
    flex: center;
    justify-content: center;
    font-size: 25px;
    color: #1b1b1b;
}

.connections-content {
    display: flex;
    flex: center;
    justify-content: left;
    font-size: 20px;
    color: #1b1b1b;
}

.animated-circles {
    display: flex;
    justify-content: right;
    background-color: #F9F871;
}