body {
    margin: 0;
    padding: 0;
    background: #1A181A;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 30px;
    margin-right: 70px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.nav-bar a:hover {
    transition-duration: 0.3;
    color: #F9F871;
}

@keyframes title-hover-yellow {
    0% {
        color: white;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    100% {
        color: #F9F871;
        text-decoration: underline;
        text-decoration-color: #F9F871;
    }
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    font-size: 60px;
}

.title-container span {
    animation: title-hover-yellow 2.8s 0s;
    color: #F9F871;
    text-decoration: underline;
    text-decoration-color: #F9F871;
}



@keyframes innovation-image-hover {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 10px;
    }

    100% {
        margin-top: 0px;
    }
}

.innovation-container {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 90px;
    background-color: #F9F871;
}

.innovation-start-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;  
    margin-bottom: -10px;
}

.innovation-start-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.innovation-start-transition .shape-fill {
    fill: #F9F871;
}

.innovation-image {
    display: flex;
    justify-content: center;
    width: 45%;
    animation: innovation-image-hover infinite 1s ease-in-out 2s;
}

.innovation-content {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;
    padding-top: 70px;
    width: 50%;
    color: #1b1b1b;
}

.innovation-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.innovation-explanation {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.innovation-end-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 1092px;
}

.innovation-end-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.innovation-end-transition .shape-fill {
    fill: #F9F871;
}

.connections-container {
    display: flex;
    width: 100%;
    height: 500px;
}

.connections-content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 10px;
    width: 50%;
    height: 500px;
}

.connections-title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.connections-explanation {
    display: flex;
    flex: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.animated-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 500px;
}

.community-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F9F871;
    margin-top: 100px;
}

.community-start-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1200px;
}

.community-start-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.community-start-transition .shape-fill {
    fill: #F9F871;
}

.community-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #1b1b1b;
}

.community-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.community-explanation {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.community-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.community-end-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 2400px;
}

.community-end-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.community-end-transition .shape-fill {
    fill: #F9F871;
}

.prizes-container {
    margin-top: 150px;
}

.prizes-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.prizes-table {
    display: flex;
    justify-content: center;
    width: 100%;
}

.prizes-table table {
    background: linear-gradient(#E3606E,#d17d84);
    border-radius: 20px;
    border-collapse: collapse; 
    width: 800px;
    height: 400px; 
}

.prizes-table tr td {
    border: 1px solid;
    border-color: #1A181A;
    border-collapse: collapse;
    width: 50%;
}

.prizes-table td {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.prizes-note {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.register-container {
    margin-top: 25px;
}

.register-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.register-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.register-button button {
    width: 200px;
    height: 75px;
    background-color: #ffffa5;
    border: transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 75px;
}

.register-button button:hover {
    transition-duration: 0.3s;
    background-color: #F9F871;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);
    height: 275px;
}

.footer-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.footer-content {
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}