body {
    margin: 0;
    padding: 0;
    background: #1B1B1B;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.nav-bar a:hover {
    transition-duration: 0.3;
    color: #F9F871;
}

@keyframes title-hover-yellow {
    0% {
        color: white;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    100% {
        color: #F9F871;
        text-decoration: underline;
        text-decoration-color: #F9F871;
    }
}

.title-container {
    display: flex;
    align-items: center;
    width: 25%;
    height: 500px;
    padding-left: 50px;
    font-size: 50px;
}

.title-container span {
    animation: title-hover-yellow 2s 0s;
    color: #F9F871;
    text-decoration: underline;
    text-decoration-color: #F9F871;
}

.title-transition {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(images/test.svg);
    background-size: 100px 100px;
}

.connections-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
}

.connections-title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.connections-explanation {
    display: flex;
    flex: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
}