body {
    margin: 0;
    padding: 0;
    background: #1A181A;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 30px;
    margin-right: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.nav-bar a:hover {
    transition-duration: 0.3;
    color: #F9F871;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 45px;
    font-weight: 600;
}

.content-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.step-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.step-explanation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(17, 17, 17);
    height: 275px;
    margin-top: 50px;
}

.footer-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.footer-content {
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}
