body {
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.nav-right {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 20px;
    padding-right: 100px;
    gap: 50px;
    font-size: 25px;
    font-weight: bold;
}

.nav-right a {
    color: white;
    transition-duration: 0.2s;
}

.nav-right a:hover {
    color: rgb(252, 255, 241);
    text-shadow: 
        0 0 5px #ffff2f,
        0 0 10px #ffff5b,
        0 0 20px #ffff5b,
        0 0 60px #fcfca0;
}

footer {
    margin: 0px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(14, 13, 13);
}

.footer-title {
    display: flex;
    flex: center;
    justify-content: center;
    font-size: 30px;
}

.footer-content {
    display: flex;
    flex: right;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}